{% load staticfiles %}
{% load static %}


<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="google-signin-client_id" content="1016390328964-ncrjoh6259peb1a2p67fuhlnnett93p9.apps.googleusercontent.com">
        <title>
            {% block title %}
            Landing Page
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->
    </head>
    <body class="text-center">
            {% if user.is_authenticated %}
                     <p style="font-size: 5vw;">Hello, {{ user.username }}</p>
            {% endif %}
        <div class="row offset-3">
            <div class="col-4 col-md-3 ml-3">
                <input class="form-control mr-sm-2" id="searchForm" type="search" placeholder="Search" aria-label="Search">
            </div>
            <div class="col-4 col-md-2">
                <button id="searchButton" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </div>
            {% if user.is_authenticated %}
                     <a class="btn btn-danger" id="loginBtn" href="/logOut/">Log Out</a>
            {% else %}
                    <a class="btn btn-outline-primary" id="logoutBtn" href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
            {% endif %}

        </div>
        <div class="text-center ">
            <img class="img-fluid mt-4 mb-4" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Emojione_2B50.svg/512px-Emojione_2B50.svg.png" width="50px" alt=""></img>
            <span id="counter" class="caption">
                {% if bukus %}
                    {{bukus}}
                {%else%}
                    0
                {% endif %}

            </span>
        </div>

        <div class="">
        {% block content %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <table class="table table-hover table-xl table-responsive ">
                    <thead>
                 <tr>
                    <th scope="col">No.</th>
                    <th scope="col">
                        Title
                    </th>
                    <th scope="col">Preview</th>
                    <th scope="col">Add To Favorites</th>
                </tr>
                    </thead>
                    <tbody id="tablooks" class="text-center">
                    </tbody>
                </table>

            </div>
        </div>

        {% endblock %}
        </div>
        <noscript>Sorry, your browser does not support JavaScript</noscript>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/myapp.js' %}"></script>
    </body>
</html>
